<style >

body{
  margin: 0;
  
}
a:hover{

  background-color: white;
}

#logo{
  position: absolute;
  top:10px;
  left: 20px;
  color: yellow;
  font-family: 'Sacramento', cursive;
}

#name-tag{
  size: 40px;
  font-family: 'Sacramento', cursive;
}

h1{
  color:darkblue;
}

h2{
font-family: 'Redressed', cursive;

}

h4{
font-family: 'pacifico', cursive;
}

.dark-theme{
  background-color: black;
  color: white;
}

.summary
{
  background-color: black;
}

.header {
  margin: 0;
  background:linear-gradient(0.25turn, #01199b, #ebf8e1, #f69d3c);
  height: 275px;
  padding-top: 10px;
}

  hr {
    width: 10%;
    border-style: dotted;
    border-top: 0;
    border-width: 7px;
    margin-bottom: 20px;
    border-color: orange;

  }

.circular{
  border-radius: 100%
}


.linkedin {

  position: absolute;
  top: 100px;
  right: 55px;
  border-radius: 100%;


}

.twitter {

  position: absolute;
  top: 150px;
  right: 50px;
  border-radius: 100%;

}

.github {

  position: absolute;
  top: 200px;
  right: 50px;

}

.insta{
  position: absolute;
  top: 250px;
  right: 50px;
  border-radius: 100%;
}

#soci{
  color:black;
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 50px
}

#skills-high{
  color:rgb(255,120,120);
}

footer{
  background: linear-gradient(135deg,grey 5%,white 15%, orange 50%, darkgrey 10%);
  padding-bottom: 30px;
  padding-top: 20px;
  bottom: 10px;
  position: relative;
  text-align:center;
  color: black;

}




</style>
